* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
}

.card-board {
  width: 800px;
  height: 750px;
  margin: auto;
  display: grid;
  grid-template: repeat(4, 10rem) / repeat(4, 10rem);
  grid-gap: 2rem;
  perspective: 800px;
}
.card {
  position: relative;
  transform-style: preserve-3d;
  transition: all 2s ease;
  transform: rotateY(90deg);
}

.face,
.back {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  backface-visibility: hidden;
}
.back {
  /* transform: rotateY(180deg); */
}
